/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
.toast-success{
  background: #448844;
}
.toast-error{
  background: #ff0900;
}
body{
  background: #e9ebee;
}
